body{
    margin: 0;
    padding: 0;
    width: 100vw;
}

.container{
    display: grid;
    grid-template-areas: 
        "head head head head"
        "nav nav nav nav"
        "side content1 content1 content1"
        "foot foot foot foot"
    ;
    background-color: #6482AD;
    height: 100vh;
    width: auto;
    grid-template-rows: 0.2fr auto 10fr 1fr;
    
}

header{
    grid-area: head;
    
}

nav{
    grid-area: nav;
    height: 39px;
    background-color: #E2DAD6;
}

ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 60px;
    position: relative;
    bottom: 16px;
    right: 30px;
}

li{
    
    padding: 10px;
}

aside{
    grid-area: side;
    background-color: #F5EDED;
}

.descripsi{
    grid-area: content1;
    background-image: url(img/bg.png);
    
}


footer{
    grid-area: foot;
    background-color: #E2DAD6;
    
}