body{
    margin: 0;
    padding: 0;
    width: 100vw;
}

.container{
    display: grid;
    grid-template-areas: 
        "head head head head"
        "nav nav nav nav"
        "side content1 content1 content1"
        "foot foot foot foot"
    ;
    background-color: #6482AD;
    height: 100vh;
    width: auto;
    grid-template-rows: 0.2fr auto 10fr 0.1fr;
    
}

header{
    grid-area: head;
    
}

.judul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.judul h1{
    position: relative;
    right: 15%;
}

.judul img{
    width: 80px;
    border-radius: 50px;
    position: relative;
    left: 15%;
}

nav{
    grid-area: nav;
    height: 39px;
    background-color: #E2DAD6;
}

ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 60px;
    position: relative;
    bottom: 16px;
    right: 30px;
}

li{  
    padding: 10px;
}

li a{
    text-decoration: none;
    color: black;
}

li a:hover{
    color: white;
    background: #6482AD;
    padding: 10px;
}

aside{
    grid-area: side;
    background-color: #E2DAD6;
}

.kotak-login{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 15px;
    font-family: "Fredoka", sans-serif;
    font-weight: bold;
    border: 1px solid;
}

.kotak-login h1{
    font-size: 40px;
}

.username-section{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.username-input{
    padding: 5px;
}

.password-input{
    padding: 5px;
}

.password-section{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

button{
    margin-top: 20px;
    padding: 10px;
    width: 200px;
}

.kotak-login img{
    width: 70px;
    position: relative;
    bottom: 20px;
}




.descripsi{
    grid-area: content1;
    background-image: url(img/bg.png);
    
    
}

.kata{
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}


footer{
    grid-area: foot;
    background-color: #E2DAD6;
}
